@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  FORM 
  ========================================
*/

.inputs select,
.inputs input[type="text"],
.inputs input[type="email"], 
.inputs textarea {
  width: 100%;
      -webkit-appearance: none !important;
      -moz-appearance:     none !important;
      padding: reset.toRem(28) reset.toRem(14) reset.toRem(8) reset.toRem(14);
      font-size: reset.toRem(15);
      border-radius: 8px;
      background:main.$ColorThree;
      border: 2px solid #f3f3f3;
      outline: none;
      color: main.$ColorOne;
      font-family: 'Poppins', sans-serif;
      transition: all 0.5s ease;
  }
  
  .inputs .margin {
    position: relative;
    margin-bottom: 24px;

    & label {
      position: absolute;
      left: 16px;
      top: 8px;
      color: main.$ColorZero;
    }
  }

  .inputs textarea:focus,
  .inputs select:focus,
  .inputs input:focus {
      border:2px solid main.$ColorMain;
      color: main.$ColorMain;
  }
  
  .inputs select {
    background:#efefef url("../img/seta_form.png") right 20px center no-repeat;
    width: 100%;
    padding: 13px 25px;
    cursor: pointer;
  }

  .inputs .btn {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .inputs .button_type1.--type_submit {
    cursor: pointer;

      & i {
        position: relative;
        left: -26px;
        height: 46px;
        top: 1px;
        padding: 14px 10px;
      }
    }
  

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) { 
    .inputs {
        & .margin {
            width: 100%!important;
            margin-bottom: 20px;
        }
    }

    .inputs select,
    .inputs input[type="text"],
    .inputs input[type="email"], 
    .inputs textarea {
          padding: inherit 30px;
      }
}
