@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  TITLES
  ========================================
*/

.titleMain {
  @include main.titleType2;
  margin-bottom: 8px;
  text-align: center;
}

.subTitle  {
  @include main.paragrafo_3;
  margin-bottom: 8px;
  text-align: center;
  color: main.$ColorThree;
}

/* TABLET BIG - 900px*/ 
@include main.breakpoint(smashTabletBig) {
  .titleMain {
    @include main.titleType2_2;
  }
}

/* TABLET - 600px*/ 
@include main.breakpoint(smashTablet) {
  .titleMain {
    @include main.titleType3;
  }
}
