@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
/*RESET*/
*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

/*
  ========================================
  Typography
  ========================================
*/
b, strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

/*
  ========================================
  Img
  ========================================
*/
img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/**/
body {
  background: #091422;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

p {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  color: #dddddd;
}

a {
  color: #3a9bfa;
}

/*ICONES unicons*/
.uil {
  font-size: 22px;
}

/*CONTAINER*/
.container {
  margin: 0 auto;
  max-width: 77.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

/* DESKTOP LARGE - 1400px*/
/* DESKTOP - 1200px*/
/* LAPTOP - 1024px*/
/* TABLET BIG - 900px*/
/* TABLET - 600px*/
/* MOBILE - 400px*/
/*
  ========================================
  HEADER
  ========================================
*/
header {
  padding: 40px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .__logo a {
  border: 1px solid #3a9bfa;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 8px 16px;
}
header .container .__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;
}
header .container .__right .__navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .__right .__navigation nav ul li a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 20px;
}
header .container .__right .__navigation nav ul li a.ativo, header .container .__right .__navigation nav ul li a:hover {
  color: #3a9bfa;
}

/*************
RESPONSIVE
*************/
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  header {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #091422;
    width: 100%;
    z-index: 1000;
    padding: 14px 0;
    box-shadow: 0px -2px 13px 0px #3a9bfa;
  }
  header .container .__logo a {
    padding: 3px 8px;
    font-size: 1rem;
    background: #3a9bfa;
  }
  header .container .__right {
    gap: 0 30px;
  }
  header .container .__right .__navigation {
    position: relative;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  header .container .__right .__navigation .buttonType1 a {
    font-size: 1rem;
  }
  header .container .__right .__navigation .menu_mobile {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  header .container .__right .__navigation .button {
    height: 35px;
    width: 35px;
    background: #3a9bfa url("../img/menu_icon.png") center no-repeat;
    transition: 0.3s all;
    border-radius: 5px;
  }
  header .container .__right .__navigation nav {
    position: absolute;
    right: 0;
    top: 38px;
    width: 200px;
    background: #ededed;
    display: flex;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
    visibility: collapse;
    transition: 0.2s all;
    border-radius: 6px;
    box-shadow: -2px 1px 9px -4px #000000;
    border-radius: 5px 5px 5px 5px;
  }
  header .container .__right .__navigation nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  header .container .__right .__navigation nav ul li {
    width: 100%;
  }
  header .container .__right .__navigation nav ul li a {
    width: 100%;
    display: block;
    font-size: 1rem !important;
    color: #206ab2;
  }
  header .container .__right .__navigation .menu_mobile.ativo nav {
    opacity: 1;
    visibility: visible;
    z-index: inherit;
  }
  header .container .__right .__navigation .menu_mobile.ativo .button {
    background: #3a9bfa url("../img/menu-close.png") center no-repeat;
  }
  header .container .__right .__theme {
    color: #3a9bfa;
  }
  header .container .__right .__theme i {
    font-size: 25px;
  }
}
/*
  ========================================
  FOOTER
  ========================================
*/
footer {
  background: #3a9bfa;
  padding: 40px 0;
  box-shadow: 0px -5px 22px 0px #3a9bfa;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .__logo {
  display: flex;
  flex-direction: column;
}
footer .container .__logo a {
  border: 1px solid #3a9bfa;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 8px 16px;
}
footer .container .__navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 25px;
}
footer .container .__navigation nav ul li a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 20px;
}
footer .container .__navigation nav ul li a.ativo, footer .container .__navigation nav ul li a:hover {
  color: #3a9bfa;
}
footer .container .__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 25px;
}
footer .last_content {
  text-align: center;
  margin-top: 60px;
  opacity: 0.6;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #142438;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0px -5px 22px 0px #3a9bfa;
  border-radius: 6px;
}

/***********
RESPONSIVE
***********/
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  footer {
    padding: 20px 0 80px 0;
  }
  footer .container .__navigation {
    display: none;
  }
  footer .last_content {
    margin-top: 20px;
  }
}
/* MOBILE - 400px*/
@media (max-width: 25rem) {
  footer {
    padding: 15px 0 80px 0;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 25px 0;
  }
}
/*
  ========================================
  BANNER
  ========================================
*/
.banner {
  padding: 100px 0 50px 0;
}
.banner .__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  gap: 0 100px;
}
.banner .__display .__social ul {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.banner .__display .__txt h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.banner .__display .__txt h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 32px;
}
.banner .__display .__txt p {
  font-size: 1.375rem;
  font-weight: 300;
}
.banner .__display .__txt .button_type1 {
  margin-top: 32px;
}
.banner .__display .__img {
  display: inline;
}

/*************
RESPONSIVE
*************/
/* DESKTOP - 1200px*/
@media (max-width: 75rem) {
  .banner .__display {
    gap: 0 40px;
    justify-content: space-between;
  }
  .banner .__display .__txt h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
}
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .banner {
    padding: 30px 0;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .banner .__display {
    flex-wrap: wrap;
    position: relative;
  }
  .banner .__display .__txt {
    width: 100%;
    padding-top: 25px;
  }
  .banner .__display .__txt h1 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 500;
    font-weight: 600;
  }
  .banner .__display .__txt h2 {
    font-size: 1.375rem;
    font-weight: 300;
    margin-bottom: 25px;
  }
  .banner .__display .__txt p {
    font-size: 1.125rem;
    font-weight: 400;
  }
  .banner .__display .__img {
    order: -1;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .__display .__social {
    width: 100%;
  }
  .banner .__display .__social ul {
    justify-content: center;
    flex-direction: inherit;
    gap: 0 15px;
  }
}
/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .banner .__display .__txt h1 {
    font-size: 1.875rem;
    font-weight: 500;
  }
  .banner .__display .__txt h2 {
    font-size: 1.125rem;
    font-weight: 400;
    font-weight: 500;
  }
  .banner .__display .__txt p {
    font-size: 1rem;
    font-weight: 400;
  }
}
/*
  ========================================
  SERVICES
  ========================================
*/
.services {
  margin: 80px 0;
}
.services .__display {
  display: flex;
  justify-content: center;
  gap: 0 40px;
  margin-top: 30px;
}
.services .__display .__item {
  width: 280px;
  background: #142438;
  border-radius: 8px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 24px 0;
  padding: 32px 40px;
  box-shadow: 2px 2px 13px 0px #142438;
}
.services .__display .__item > i {
  color: #3a9bfa;
  font-size: 2rem;
}
.services .__display .__item a {
  padding: 5px 0;
  transition: 0.3s all;
}
.services .__display .__item a i {
  font-style: normal;
  margin-left: 6px;
  transition: 0.3s all;
}
.services .__display .__item a:hover i {
  margin-left: 15px;
}
.services .__display .__item span {
  font-size: 1.375rem;
  font-weight: 300;
}

/**************
RESPONSIVE
**************/
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .services {
    margin: 30px 0;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .services .__display {
    gap: 25px 30px;
    flex-wrap: wrap;
  }
  .services .__display .__item {
    width: 250px;
  }
}
/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .services .__display {
    gap: 20px 4%;
  }
  .services .__display .__item {
    width: 46%;
    height: 220px;
    padding: 25px 20px;
  }
  .services .__display .__item > i {
    color: #3a9bfa;
    font-size: 1.5625rem;
  }
  .services .__display .__item span {
    font-size: 1.125rem;
    font-weight: 400;
  }
}
/*
  ========================================
  PORTFOLIO
  ========================================
*/
.portfolio {
  margin: 80px 0;
}
.portfolio .__display {
  margin-top: 30px;
}
.portfolio .__display ul {
  display: grid;
  grid-template-columns: repeat(3, 280px);
  grid-template-rows: repeat(2, 280px);
  justify-content: center;
  gap: 40px;
}
.portfolio .__display ul li {
  background: #cdcdcd;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.portfolio .__display ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.portfolio .__display ul li img {
  position: absolute;
}
.portfolio .__display ul li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+41,7db9e8+100&0.9+0,0.7+14,0.6+28,0.5+41,0.4+54,0+100 */
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 14%, rgba(0, 0, 0, 0.6) 28%, rgba(0, 0, 0, 0.5) 41%, rgba(28, 41, 51, 0.4) 54%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 14%, rgba(0, 0, 0, 0.6) 28%, rgba(0, 0, 0, 0.5) 41%, rgba(28, 41, 51, 0.4) 54%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 14%, rgba(0, 0, 0, 0.6) 28%, rgba(0, 0, 0, 0.5) 41%, rgba(28, 41, 51, 0.4) 54%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e6000000", endColorstr="#007db9e8",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.portfolio .__display ul li div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  padding: 16px 24px;
}
.portfolio .__display ul li div h3 {
  display: inline-block;
  background: #3a9bfa;
  color: #091422;
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 8px;
}
.portfolio .__display ul li:nth-child(3) {
  grid-row: span 2;
}
.portfolio .__display ul li:nth-child(4) {
  grid-column: span 2;
}

.mySwiperPorfolio {
  display: none;
}
.mySwiperPorfolio .swiper-slide a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background: #cdcdcd;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.mySwiperPorfolio .swiper-slide a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+41,7db9e8+100&0.9+0,0.7+14,0.6+28,0.5+41,0.4+54,0+100 */
  background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 14%, rgba(0, 0, 0, 0.6) 28%, rgba(0, 0, 0, 0.5) 41%, rgba(28, 41, 51, 0.4) 54%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 14%, rgba(0, 0, 0, 0.6) 28%, rgba(0, 0, 0, 0.5) 41%, rgba(28, 41, 51, 0.4) 54%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 14%, rgba(0, 0, 0, 0.6) 28%, rgba(0, 0, 0, 0.5) 41%, rgba(28, 41, 51, 0.4) 54%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e6000000", endColorstr="#007db9e8",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.mySwiperPorfolio .swiper-slide img {
  position: absolute;
}
.mySwiperPorfolio .swiper-slide div {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  padding: 16px 24px;
}
.mySwiperPorfolio .swiper-slide div h3 {
  display: inline-block;
  background: #3a9bfa;
  color: #091422;
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 8px;
}
.mySwiperPorfolio .__nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.mySwiperPorfolio .__nav .center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px 0 0 0;
  gap: 5px;
}
.mySwiperPorfolio .__nav .center div {
  left: inherit;
  right: inherit;
  top: inherit;
  position: inherit;
}
.mySwiperPorfolio .__nav .center .swiper-button-prev {
  order: -1;
  transform: rotateZ(180deg);
}
.mySwiperPorfolio .__nav .center .swiper-button-next, .mySwiperPorfolio .__nav .center .swiper-button-prev {
  height: 44px;
  width: 44px;
  border-radius: 5px;
  background: #F2F7FA;
  background-size: 35px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mySwiperPorfolio .__nav .center .swiper-button-next {
  padding-top: 4px;
}
.mySwiperPorfolio .__nav .center .swiper-button-next:hover, .mySwiperPorfolio .__nav .center .swiper-button-prev:hover {
  background: #206ab2;
  background-size: 35px;
  color: #ffffff;
}
.mySwiperPorfolio .__nav .center .swiper-button-next::after, .mySwiperPorfolio .__nav .center .swiper-button-prev::after {
  content: "";
}

/**************
RESPONSIVE
**************/
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .portfolio {
    margin: 50px 0;
  }
  .portfolio .display_none_desktop {
    display: none;
  }

  .portfolio .mySwiperPorfolio {
    display: block;
    margin-top: 15px;
    padding-bottom: 60px;
  }
}
/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .mySwiperPorfolio .swiper-slide a {
    height: 260px;
    width: 260px;
    margin: 0 auto;
  }
}
/*
  ========================================
  ABOUT ME
  ========================================
*/
.about_me {
  margin: 80px 0;
}
.about_me .__display {
  margin-top: 60px;
  display: flex;
  gap: 0 200px;
}
.about_me .__display .__content {
  width: 450px;
}
.about_me .__display .__content p {
  font-weight: 300;
}
.about_me .__display .__content .__experience {
  margin-top: 40px;
}
.about_me .__display .__content .__experience ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_me .__display .__content .__experience ul li {
  text-align: center;
}
.about_me .__display .__content .__experience ul li span {
  font-size: 1rem;
  font-weight: 400;
  display: block;
  color: #dddddd;
}
.about_me .__display .__content .__experience ul li span b {
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: 600;
}
.about_me .__display .__content .button_type1 {
  margin-top: 32px;
}

/*
  ========================================
  QUALIFICATION
  ========================================
*/
.qualification {
  margin: 80px 0;
}
.qualification .__tabs {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qualification .__tabs button {
  border: none;
  background: none;
  display: inline-block;
  color: #3a9bfa;
  font-size: 1.125rem;
  font-weight: 400;
}
.qualification .__line_time {
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qualification .__line_time::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 98%;
  background: #3a9bfa;
  top: 0;
}
.qualification .__line_time .__item {
  width: 500px;
  display: flex;
}
.qualification .__line_time .__item .__align {
  height: 100%;
  width: 200px;
  text-align: right;
  position: relative;
  padding-bottom: 20px;
}
.qualification .__line_time .__item .__align div {
  display: inline-block;
}
.qualification .__line_time .__item .__align::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #3a9bfa;
  border-radius: 50%;
  right: -60px;
  margin-top: 1px;
}
.qualification .__line_time .__item .__align h3 {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
}
.qualification .__line_time .__item .__align h4 {
  color: #6086b3;
  font-size: 1rem;
  font-weight: 400;
}
.qualification .__line_time .__item .__align span {
  margin-top: 8px;
  color: #6086b3;
  font-size: 0.875rem;
}
.qualification .__line_time .__item:nth-child(2n) {
  justify-content: flex-end;
}
.qualification .__line_time .__item:nth-child(2n) div {
  text-align: left;
}
.qualification .__line_time .__item:nth-child(2n) ::after {
  right: inherit;
  left: -60px;
}

/*
  ========================================
  CONTACT
  ========================================
*/
.contact {
  padding: 80px 0;
  background: url("../img/backgound_form.jpg") center no-repeat;
  position: relative;
}
.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .display {
  display: flex;
  justify-content: flex-start;
  gap: 0 100px;
  margin-top: 60px;
}
.contact .display .__information {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}
.contact .display .__information .__item {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.contact .display .__information .__item span {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #dddddd;
  font-weight: 100;
}
.contact .display .__information .__item span.__title {
  font-size: 1.375rem;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 3px;
  font-weight: 600;
}
.contact .display .__form {
  width: 600px;
}
.contact .display .__form .espacamento {
  display: flex;
  gap: 30px;
}
.contact .display .__form .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
  ========================================
  BLOG
  ========================================
*/
.archivesBlog {
  margin: 80px 0;
}
.archivesBlog .__search {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.archivesBlog .__search div {
  width: 273px;
  display: flex;
  gap: 0 6px;
}
.archivesBlog .__search input[type=search] {
  width: 100%;
  background: #091422;
  border: 2px solid #6086b3;
  font-size: 15px;
  padding: 8px 15px 8px 10px;
  color: #fff;
  outline: none;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  transition: 0.3s all;
}
.archivesBlog .__search input[type=search]:focus {
  border: 2px solid #3a9bfa;
}
.archivesBlog .__search input[type=submit] {
  background: url("../img/lupa.png") center no-repeat;
  background-size: 25px;
  border: none;
  height: 100%;
  width: 60px;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 8px;
}
.archivesBlog .__search input[type=submit]:hover {
  background: #3a9bfa url("../img/lupa.png") center no-repeat;
  background-size: 25px;
}
.archivesBlog .__display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 40px;
  margin-top: 30px;
}
.archivesBlog .__item {
  width: 300px;
  background: #142438;
  border-radius: 8px;
}
.archivesBlog .__item img {
  border-radius: 8px;
}
.archivesBlog .__item .__txt {
  padding: 16px 24px;
}
.archivesBlog .__item .__txt h2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.archivesBlog .__item .__information {
  width: 100%;
  padding: 8px 24px;
  border-top: 1px solid #6086b3;
  display: flex;
  gap: 0 8px;
}
.archivesBlog .__item .__information span {
  font-size: 0.75rem;
  font-weight: 100;
  color: #6086b3;
}

.archivesBlog .display_none_desktop {
  display: none;
}

/****************
RESPONSIVE
****************/
/* LAPTOP - 1024px*/
@media (max-width: 64rem) {
  .archivesBlog {
    margin: 50px 0;
  }
  .archivesBlog .__item {
    width: 260px;
  }
}
/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .archivesBlog .__display {
    margin-top: 20px;
  }
  .archivesBlog .__item {
    margin: 0 auto;
  }

  .archivesBlog .display_none_mobile {
    display: none;
  }

  .archivesBlog .display_none_desktop {
    display: block;
    margin-top: 15px;
    padding-bottom: 60px;
  }

  .mySwiperArchives .__nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  .mySwiperArchives .__nav .center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 0 0 0;
    gap: 5px;
  }
  .mySwiperArchives .__nav .center div {
    left: inherit;
    right: inherit;
    top: inherit;
    position: inherit;
  }
  .mySwiperArchives .__nav .center .swiper-button-prev {
    order: -1;
    transform: rotateZ(180deg);
  }
  .mySwiperArchives .__nav .center .swiper-button-next, .mySwiperArchives .__nav .center .swiper-button-prev {
    height: 44px;
    width: 44px;
    border-radius: 5px;
    background: #F2F7FA;
    background-size: 35px;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mySwiperArchives .__nav .center .swiper-button-next {
    padding-top: 4px;
  }
  .mySwiperArchives .__nav .center .swiper-button-next:hover, .mySwiperArchives .__nav .center .swiper-button-prev:hover {
    background: #206ab2;
    background-size: 35px;
    color: #ffffff;
  }
  .mySwiperArchives .__nav .center .swiper-button-next::after, .mySwiperArchives .__nav .center .swiper-button-prev::after {
    content: "";
  }
}
/*
  ========================================
  BLOG DETALHES
  ========================================
*/
.blogDetails {
  padding-bottom: 60px;
}
.blogDetails h1 {
  margin-bottom: 32px;
}
.blogDetails .__imgDestaq {
  text-align: center;
  margin-bottom: 16px;
}
.blogDetails .__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  color: #6086b3;
  font-weight: 300;
  font-size: 0.9375rem;
}
.blogDetails .__info .__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 16px;
}
.blogDetails h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.blogDetails p {
  font-size: 1rem;
  font-weight: 400;
}

/*
  ========================================
  PORTFOLIO
  ========================================
*/
.portfolioDetails {
  padding-bottom: 100px;
}
.portfolioDetails .__display {
  margin-top: 48px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolioDetails .__display ul {
  display: flex;
  gap: 0 10px;
}
.portfolioDetails .__display ul li {
  border-right: 1px solid #6086b3;
  padding: 0 16px;
}
.portfolioDetails .__display ul li:last-child {
  border: none;
}
.portfolioDetails .__display ul li span {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  font-weight: 400;
}
.portfolioDetails .__display ul li span mark {
  background: none;
  font-size: 1.375rem;
  font-weight: 300;
  color: #3a9bfa;
  font-weight: 500;
}
.portfolioDetails .__display .collaborators {
  position: relative;
}
.portfolioDetails .__display .collaborators .__button {
  background: #3a9bfa;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.portfolioDetails .__display .collaborators .__tooltip {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  position: absolute;
  transition: 0.3s all;
  width: 300px;
  right: 0;
  background: #142438;
  border: 1px solid #3a9bfa;
  border-radius: 4px;
}
.portfolioDetails .__display .collaborators .__tooltip a {
  display: flex;
  align-items: center;
  gap: 8px 16px;
  padding: 16px 16px;
  transition: 0.3s all;
}
.portfolioDetails .__display .collaborators .__tooltip a .__img {
  width: 50px;
  height: 50px;
  background: #cdcdcd;
}
.portfolioDetails .__display .collaborators .__tooltip a .__img img {
  border-radius: 8px;
}
.portfolioDetails .__display .collaborators .__tooltip a .__txt span {
  display: block;
  color: #dddddd;
  font-size: 1.125rem;
  font-weight: 400;
  font-weight: 300;
}
.portfolioDetails .__display .collaborators .__tooltip a .__txt span.small {
  font-size: 1rem;
  font-weight: 400;
}
.portfolioDetails .__display .collaborators .__tooltip a:hover {
  background: #206ab2;
}
.portfolioDetails .__display .collaborators:hover .__tooltip {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.portfolioDetails p {
  font-size: 1rem;
  font-weight: 400;
}

/*
  ========================================
  FORM 
  ========================================
*/
.inputs select,
.inputs input[type=text],
.inputs input[type=email],
.inputs textarea {
  width: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  padding: 1.75rem 0.875rem 0.5rem 0.875rem;
  font-size: 0.9375rem;
  border-radius: 8px;
  background: #dddddd;
  border: 2px solid #f3f3f3;
  outline: none;
  color: #206ab2;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
}

.inputs .margin {
  position: relative;
  margin-bottom: 24px;
}
.inputs .margin label {
  position: absolute;
  left: 16px;
  top: 8px;
  color: #091422;
}

.inputs textarea:focus,
.inputs select:focus,
.inputs input:focus {
  border: 2px solid #3a9bfa;
  color: #3a9bfa;
}

.inputs select {
  background: #efefef url("../img/seta_form.png") right 20px center no-repeat;
  width: 100%;
  padding: 13px 25px;
  cursor: pointer;
}

.inputs .btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.inputs .button_type1.--type_submit {
  cursor: pointer;
}
.inputs .button_type1.--type_submit i {
  position: relative;
  left: -26px;
  height: 46px;
  top: 1px;
  padding: 14px 10px;
}

/* TABLET - 600px*/
@media (max-width: 37.5rem) {
  .inputs .margin {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .inputs select,
.inputs input[type=text],
.inputs textarea {
    padding: 12px 30px;
  }
}
/*
  ========================================
  MENU RESP
  ========================================
*/
#dl-menu {
  width: 100%;
  display: none;
}

/* Common styles of menus */
.dl-menuwrapper {
  width: 100%;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 200%;
  z-index: 5555;
}

.dl-menuwrapper button {
  background: #206ab2 url("../img/menu_icon.png") right 15px center no-repeat;
  border: none;
  width: 100%;
  height: 48px;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  padding-left: 15px;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.dl-menuwrapper ul {
  background: none;
}

.dl-menuwrapper button.dl-active {
  color: #ffffff;
  background: #091422 url("../img/menu-close.png") right 15px center no-repeat;
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li .down {
  background: #14698d url(../../img/bg-header/seta-drop.png) right 20px center no-repeat;
}

.dl-menuwrapper li a {
  background: #206ab2;
  display: block;
  position: relative;
  padding: 10px 20px;
  outline: none;
  border: 1px solid lightgrey;
  border-bottom: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.dl-menuwrapper li:last-child a {
  border-bottom: 1px solid lightgrey;
}

.dl-menuwrapper li a:hover,
.dl-menuwrapper li.ativo a {
  background: #014b94;
  color: #ffffff;
  padding: 10px 20px 10px 40px;
}

.dl-menuwrapper li.dl-back > a {
  /* padding-left: 40px; */
  font-weight: 600;
  color: #ffffff;
  background: #0e4d68 url(../../img/seta-back.png) left 20px center no-repeat;
}

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}

.dl-menuwrapper .dl-menu {
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5555;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */
.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: "";
}

/* Colors for demos */
/* Demo 4 */
.demo-4 .dl-menuwrapper button {
  background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: #79a002;
}

/*
  ========================================
  BUTTONS
  ========================================
*/
.button_type1 * {
  font-size: 1rem;
  font-weight: 300;
  background: #3a9bfa;
  color: #dddddd;
  display: inline-block;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.button_type1 * i {
  padding: 0;
  position: relative;
  left: 8px;
}

/*
  ========================================
  TITLES
  ========================================
*/
.titleMain {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.subTitle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
  text-align: center;
  color: #dddddd;
}

/* TABLET BIG - 900px*/
@media (max-width: 56.25rem) {
  .titleMain {
    font-size: 1.875rem;
    font-weight: 500;
  }
}
/**/
/**/

/*# sourceMappingURL=style.css.map */
