@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  FOOTER
  ========================================
*/

footer {
  background: main.$ColorMain;
  padding: 40px 0;
  box-shadow: 0px -5px 22px 0px main.$ColorMain;

  & .container {
    @include main.FlexBetCen;

    & .__logo {
      display: flex;
      flex-direction: column;

      & a {
        border: 1px solid main.$ColorMain;
        color: main.$ColorTwo;
        font-size: reset.toRem(24);
        border-radius: 15px;
        padding: 8px 16px;
      }
    }

    & .__navigation {
      & nav ul {
        @include main.FlexBetCen;
        gap: 0 25px;

        & li a {
          font-size: reset.toRem(18);
          font-weight: 400;
          color: main.$ColorTwo;
          padding: 10px 20px;
          transition: 0.3s all;

          &.ativo,
          &:hover {
            color: main.$ColorFour;
            text-shadow: 0 0 4px main.$ColorFour;
          }
        }
      }
    }

    & .__social {
      @include main.FlexCenCen;
      gap: 0 25px;

      & a * {
        color: #ffffff;
        transition: 0.3s all;
      }

      & a i {
        font-size: 25px;
      }

      & a:hover * {
        color: main.$ColorFour;
      }
    }
}

  & .last_content {
    text-align: center;
    margin-top: 60px;
    opacity: 0.6;
    font-weight: 300;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: main.$ColorFour;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0px -5px 22px 0px main.$ColorMain;
  border-radius: 6px;
}

/***********
RESPONSIVE
***********/

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) {
  footer {
    padding: 20px 0 80px 0;
  
    & .container {
      & .__navigation {
        display: none
      }
  }
  
    & .last_content {
      margin-top: 20px;
    }
  }  
}

/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) {
  footer {
    padding: 15px 0 80px 0;
  
    & .container {
      flex-direction: column;
      align-items: center;
      gap: 25px 0;
    }
  }  
}