@use '../1-base/main.scss';
@use '../1-base/reset.scss';

/*
  ========================================
  HEADER
  ========================================
*/

header {
  padding: 40px 0;

  & .container {
    @include main.FlexBetCen;

    & .__logo a {
      border: 1px solid main.$ColorMain;
      color: main.$ColorTwo;
      font-size: reset.toRem(24);
      border-radius: 15px;
      padding: 8px 16px;
    }

    & .__right {
      @include main.FlexBetCen;
      gap: 0 50px;

      & .__navigation {
          & nav ul {
            @include main.FlexBetCen;
    
            & li a {
              font-size: reset.toRem(20);
              font-weight: 400;
              color: main.$ColorTwo;
              padding: 10px 20px;
              transition: 0.3s all;
    
              &.ativo,
              &:hover {
                color: main.$ColorMain;
                text-shadow: 1px 1px 1px main.$ColorMain;
              }
            }
          }
      }
    }
  }
}

/*************
RESPONSIVE
*************/

/* LAPTOP - 1024px*/ 
@include main.breakpoint(smashLaptop) { 
  header {
    position: fixed;
    bottom: 0;
    left: 0;
    background: main.$ColorZero;
    width: 100%;
    z-index: 1000;
    padding: 14px 0;
    box-shadow: 0px -2px 13px 0px #3a9bfa;

    & .container {

      & .__logo {
        & a {
          padding: 3px 8px;
          font-size: reset.toRem(16);
          background: main.$ColorMain;
        }
      }

      & .__right {
        gap: 0 30px;
        
        & .__navigation {
          position: relative;
          justify-content: flex-end;
          flex-wrap: wrap;

          & .buttonType1 a {
            font-size: reset.toRem(16);
          }

          & .menu_mobile {
            width: 100%;
            display: flex;
            justify-content: flex-end;
          }

          & .button {
            height: 35px;
            width: 35px;
            background: main.$ColorMain url("../img/menu_icon.png") center no-repeat;
            transition: 0.3s all;
            border-radius: 5px;
          }

          & nav {
            position: fixed;
            right: 0;
            bottom: 63px;
            width: 100%;
            background: main.$ColorFour;
            display: flex;
            flex-direction: column;
            opacity: 0;
            z-index: -1;
            visibility: collapse;
            transition: 0.2s all;
            box-shadow: 0px -2px 13px 0px #3a9bfa;


            & ul {
              display: flex;
              width: 100%;
              flex-wrap: wrap;

              & li {
                width: 33%;
                text-align: center;

                & a {
                  width: 100%;
                  display: block;
                  font-size: reset.toRem(16)!important;
                  color: main.$ColorTwo;
                }

                & a:hover {
                  color: main.$ColorTwo;
                  opacity: 0.6;
                }
              }
            }
          }

          & .menu_mobile.ativo {
            & nav {
              opacity: 1;
              visibility: visible;
              z-index: inherit;
            }

            & .button {
              background: main.$ColorMain url("../img/menu-close.png") center no-repeat;
            }
          }
        } // NAVIGATION

        & .__theme {
          color: main.$ColorMain;
          & i {
            font-size: 25px;
          }
        }
      }
    }
  }
}


/* MOBILE - 400px*/ 
@include main.breakpoint(smashMobile) {
  header .container .__right .__navigation nav ul {
    justify-content: center;

    & li {
      width: 100%;
    }
  }
}